appnope==0.1.0
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
cycler==0.10.0
decorator==4.2.1
enum34==1.1.6
futures==3.2.0
ipykernel==4.8.2
ipython==5.5.0
ipython-genutils==0.2.0
jupyter-client==5.2.2
jupyter-core==4.4.0
matplotlib==2.1.2
networkx==2.1
numpy==1.14.1
pathlib2==2.3.0
pexpect==4.4.0
pickleshare==0.7.4
Pillow==5.0.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2018.3
PyWavelets==0.5.2
pyzmq==17.0.0
scandir==1.7
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
subprocess32==3.2.7
tornado==5.0
traitlets==4.3.2
wcwidth==0.1.7
